<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hehe_server</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>xxxxx</description>
    <display-name>GetFeeds</display-name>
    <servlet-name>GetFeeds</servlet-name>
    <servlet-class>com.shuai.hehe.server.GetFeeds</servlet-class>
    <init-param>
      <description>yyy</description>
      <param-name>mId</param-name>
      <param-value>1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFeeds</servlet-name>
    <url-pattern>/getfeeds</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFeed</display-name>
    <servlet-name>AddFeed</servlet-name>
    <servlet-class>com.shuai.hehe.server.AddFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFeed</servlet-name>
    <url-pattern>/addfeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitEnv</display-name>
    <servlet-name>InitEnv</servlet-name>
    <servlet-class>com.shuai.hehe.server.InitEnv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitEnv</servlet-name>
    <url-pattern>/initenv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAlbumPics</display-name>
    <servlet-name>GetAlbumPics</servlet-name>
    <servlet-class>com.shuai.hehe.server.GetAlbumPics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAlbumPics</servlet-name>
    <url-pattern>/getalbumpics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HideFeed</display-name>
    <servlet-name>HideFeed</servlet-name>
    <servlet-class>com.shuai.hehe.server.HideFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HideFeed</servlet-name>
    <url-pattern>/hidefeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShowTime</display-name>
    <servlet-name>UpdateShowTime</servlet-name>
    <servlet-class>com.shuai.hehe.server.UpdateShowTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShowTime</servlet-name>
    <url-pattern>/updateshowtime</url-pattern>
  </servlet-mapping>
</web-app>